# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python venv
venv/

# Vim Stuff
*.sw*

# Git stuff
*.bundle

# Mac stuff
*.DS_Store

# Visual Studio Code
.vscode
*.code-workspace

# SQLite3 databases
*.db

# Arbiter specific
logs/
etc/*/*
*.exitfile

# Vagrant
.vagrant
