# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Vim Stuff
*.swp
*.swo

# Git stuff
*.bundle

# Mac stuff
*.DS_Store

# Remote Sync Stuff
*.remote-sync.json

# Geany's Project
.project
.geanywb

# Visual Studio Code
.vscode
*.code-workspace

smtplib
*.project

# SQLite3 databases
*.db

# Arbiter specific
logs/
*.exitfile
